.navigation {
    border-top: $line;
    border-bottom: $line;
    box-shadow: 0 .5rem 1rem rgba($color-black , .1);
    margin-bottom: 5.5rem;
    padding: 1.5rem 0;
    font-weight: 300;
    font-size: 1.6rem;

    @include respond(tab-port) {
        display: none;
    }

    &__logo {
        font-family: 'Playfair Display', serif;
        font-size: 2.4rem;
        font-weight: 700;
        color: $color-primary;

    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex: 1;
        align-items: center;
    }


    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: $color-black;
    }

    &__link:hover,
    &__link:active {
        color: $color-secondary;
    }

    &__buttons {


        :last-child {
            background-color: $color-secondary;
            color: $color-white;
            box-shadow: 0 .4rem 1.6rem rgba($color-secondary, .32);
        }
    }
}