.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  2rem 0;

    @include respond(tab-port) {
        padding: 2rem 4rem;
        border: $line;
    }

    @media only screen and (max-width: 50em) {
        padding: 2rem 6rem;
    }

    @include respond(phone) {
        margin-bottom: 3rem;
    }


    &__logos {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 10rem;
        height: 10rem;

        @media only screen and (max-width: 50em) {
            width: 14rem;
        }
    }

    &__years {
        width: 8rem;
        height: 7rem;

        @include respond(phone){
            display: none;
        }
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: $color-black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: background-color .4s, color .2s;
        padding: .8rem 1.6rem;
        border-radius: 2rem;

        @include respond(tab-port) {
            display: none;
        }
    }

    &__link:hover,
    &__link:active {
        background-color: $color-secondary;
        color: $color-white;
    }

    &__link:hover &__icon {
        fill: $color-white;
    }

    &__icon {
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
        transition: fill .2s;
    }


    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

    }

    &__menu-text {
        margin-bottom: 3px;

        @media only screen and (max-width: 50em) {
            font-size: 2rem;
        }
    }

    &__menu-burger {
        background-color: $color-gray-dark-1;
        height: 3px;
        width: 25px;
        position: relative;
        margin-left: 1rem;
    
    
        &::after,
        &::before {
            content: "";
            display: inline-block;
            height: 3px;
            width: 25px;
            background-color: inherit;
            position: absolute;
        }

        &::after {
            top: 8px;
        }

        &::before {
            bottom: 8px;
        }

        @media only screen and (max-width: 50em) {
            margin-left: 2rem;
        }
    }
}